* {
  box-sizing: border-box;
  font-family: Inter;
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 90px;
  padding: 30px 25px;
}

.navbar > h3,
.navbar > h4 {
  margin: 0;
}

.navbar > h3 {
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.navbar > h4 {
  color: #deebf8;
  font-weight: 600;
}

.navbar > img {
  height: 30px;
  margin-right: 7px;
}
